@charset "utf-8";
@import "_variables";

/** Main **/

#inputForm,
#playerContainer {
  margin-bottom: 1.5rem
}

#coverArt {
  float: left;
  max-width: 15%;
  margin-right: 1%
}

#coverArt > img {
  border-radius: 4%
}

#coverArt > p {
  text-align: center
}

.video-js {
  margin: 0 auto;

  .vjs-loop-button,
  .vjs-seek-button {
    .vjs-icon-placeholder {
      /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
      font-family: fontello;
      font-weight: normal;
      font-style: normal;
      cursor: pointer;

      &::before {
        font-size: 1.5em;
        line-height: 1.97
      }
    }
  }

  .vjs-loop-button {
    &:not(.vjs-loop-enabled) {
      color: $grey
    }

    .vjs-icon-placeholder::before {
      content: "\e81f"
    }
  }

  .vjs-seek-button {
    &.skip-back .vjs-icon-placeholder::before {
      content: "\e81e";
      transform: none
    }

    &.skip-forward .vjs-icon-placeholder::before {
      content: "\e818";
      transform: none
    }
  }
}
